<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}"/>
        <title>{% block title %}IP Address List{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbar"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <span class="navbar-brand mb-0 h1">IP Address List</span>
                <ul class="navbar-nav mr-auto">
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" id="ipaddresses" href="/ipaddress">IP Addresses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="clients" href="/clients">Clients</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="users" href="/users">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="logout" href="/logout">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" id="login" href="/">Login</a>
                            </li>  
                        {% endif %}
                    </div>
                </ul>
                <span class="navbar-text">{{ user.username }} | version {{ ver }}</span>
            </div>
        </nav>

        <div class="container">{% block content %} {% endblock %}</div>

        <script src="{{ url_for('static', filename='js/jquery-3.6.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>    
    </body>
</html>