{% extends "base.html" %}
{% block title %}Clients{% endblock %}
{% block content%}
<h1>Add clients</h1>
<form method="POST">
    <div class="form-group row">
        <label for="ipaddress" class="col-sm-2 col-form-label">IP address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="ipaddress" name="ipaddress" placeholder="Enter client IP address" />
        </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description" name="description"
            placeholder="Enter client description" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Add Client IP address</button>
            </div>    
        </div>
    </div>
</form>

<h3>Authorized clients</h3>
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">IP address</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.ipaddress }}</td>
            <td>{{ client.description }}</td>
            <td>
                <a class="btn btn-danger" href='#' onClick="deleteClient('{{ client.ipaddress }}')">
                    <i class="bi bi-trash"></i>Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}