{% extends "base.html" %}
{% block title %}Active IP Addresses{% endblock %}
{% block content%}
<h1>Add IP Address</h1>
<form method="POST">
    <div class="form-group row">
        <label for="ipaddress" class="col-sm-2 col-form-label">Add IP address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="ipaddress" name="ipaddress" placeholder="Enter IP address" />
        </div>
    </div>
    <div class="form-group row">
        <label for="hours" class="col-sm-2 col-form-label">Hours</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="hours" name="hours" placeholder="Enter hours" value="1" />
        </div>    
    </div>
    <div class="form-group row">
        <label for="location" class="col-sm-2 col-form-label">Location</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="location" name="location" placeholder="Enter location" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Add IP address</button>
        </div>
    </div>
</form>

<h3>Active IP addresses</h3>
<table class="table table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">IP address</th>
            <th scope="col">Created</th>
            <th scope="col">Delta</th>
            <th scope="col">Location</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for ipaddress in ipaddresses %}
        <tr>
            <td>{{ ipaddress.ipaddress }}</td>
            <td>{{ ipaddress.created }}</td>
            <td>{{ ipaddress.remove - ipaddress.created }}</td>
            <td>{{ ipaddress.location }}</td>
            <td>
                <a class="btn btn-danger" href='#' onClick="deleteIpaddress('{{ ipaddress.ipaddress }}', '{{ ipaddress.location }}')">
                    <i class="bi bi-trash"></i>Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}